<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.lottery.infrastructure.dao.StrategyMapper">

    <resultMap id="BaseResultMap" type="com.kevin.lottery.infrastructure.po.Strategy">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="strategyId" column="strategy_id" jdbcType="BIGINT"/>
            <result property="strategyDesc" column="strategy_desc" jdbcType="VARCHAR"/>
            <result property="strategyName" column="strategy_name" jdbcType="VARCHAR"/>
            <result property="strategyMode" column="strategy_mode" jdbcType="INTEGER"/>
            <result property="grantType" column="grant_type" jdbcType="INTEGER"/>
            <result property="grantDate" column="grant_date" jdbcType="TIMESTAMP"/>
            <result property="extendInfo" column="extend_info" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,strategy_id,strategy_desc,
        strategy_name,strategy_mode,grant_type,
        grant_date,extend_info,create_time,
        update_time
    </sql>
    <select id="queryStrategy" parameterType="java.lang.Long" resultMap="BaseResultMap">
            SELECT
                id, strategy_id, strategy_desc, strategy_mode, grant_type,
                grant_date, extend_info, create_time, update_time
            FROM strategy
            WHERE strategy_id = #{strategyId}
    </select>
</mapper>
