<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.lottery.infrastructure.dao.UserTakeActivityMapper">

    <resultMap id="BaseResultMap" type="com.kevin.lottery.infrastructure.po.UserTakeActivity">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uId" jdbcType="VARCHAR"/>
            <result property="takeid" column="takeId" jdbcType="BIGINT"/>
            <result property="activityid" column="activityId" jdbcType="BIGINT"/>
            <result property="activityname" column="activityName" jdbcType="VARCHAR"/>
            <result property="takedate" column="takeDate" jdbcType="TIMESTAMP"/>
            <result property="takecount" column="takeCount" jdbcType="INTEGER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uId,takeId,
        activityId,activityName,takeDate,
        takeCount,uuid,createTime,
        updateTime
    </sql>
    <insert id="insertOne" parameterType="com.kevin.lottery.infrastructure.po.UserTakeActivity">
        insert into user_take_activity(id,uId,takeId,activityId,activityName,takeDate,takeCount,uuid,createTime,updateTime)
            values(#{id},#{uid},#{takeid},#{activityid},#{activityname},#{takedate},#{takecount},#{uuid},NOW(),NOW())
    </insert>
    <select id="selectOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,uId,takeId,activityId,activityName,takeDate,takeCount,uuid,createTime,updateTime
        from user_take_activity
        where uid = #{uid}
    </select>
</mapper>
