<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.lottery.infrastructure.dao.UserStrategyExportMapper">

    <resultMap id="BaseResultMap" type="com.kevin.lottery.infrastructure.po.UserStrategyExport">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uId" jdbcType="VARCHAR"/>
            <result property="activityid" column="activityId" jdbcType="BIGINT"/>
            <result property="orderid" column="orderId" jdbcType="BIGINT"/>
            <result property="strategyid" column="strategyId" jdbcType="BIGINT"/>
            <result property="strategytype" column="strategyType" jdbcType="INTEGER"/>
            <result property="granttype" column="grantType" jdbcType="INTEGER"/>
            <result property="grantdate" column="grantDate" jdbcType="TIMESTAMP"/>
            <result property="grantstate" column="grantState" jdbcType="INTEGER"/>
            <result property="awardid" column="awardId" jdbcType="BIGINT"/>
            <result property="awardtype" column="awardType" jdbcType="INTEGER"/>
            <result property="awardname" column="awardName" jdbcType="VARCHAR"/>
            <result property="awardcontent" column="awardContent" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uId,activityId,
        orderId,strategyId,strategyType,
        grantType,grantDate,grantState,
        awardId,awardType,awardName,
        awardContent,uuid,createTime,
        updateTime
    </sql>
    <insert id="insertSelective" parameterType="com.kevin.lottery.infrastructure.po.UserStrategyExport">
        insert into user_strategy_export(uId,activityId,orderId,strategyId,strategyType,
                                         grantType,grantDate,grantState,awardId,awardType,
                                         awardName,awardContent,uuid,createTime,updateTime)
        values (#{uid},#{activityid},#{orderid},#{strategyid},#{strategytype},#{granttype},#{grantdate},
                #{grantstate},#{awardid},#{awardtype},#{awardname},#{awardcontent},#{uuid},NOW(),NOW())
    </insert>
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        FROM user_strategy_export
        WHERE uId = #{uId}
    </select>
</mapper>
