<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.lottery.infrastructure.dao.UserStrategyExportMapper">

    <resultMap id="BaseResultMap" type="com.kevin.lottery.infrastructure.po.UserStrategyExport">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uId" jdbcType="VARCHAR"/>
            <result property="activityid" column="activityId" jdbcType="BIGINT"/>
            <result property="orderid" column="orderId" jdbcType="BIGINT"/>
            <result property="strategyid" column="strategyId" jdbcType="BIGINT"/>
            <result property="strategytype" column="strategyType" jdbcType="INTEGER"/>
            <result property="granttype" column="grantType" jdbcType="INTEGER"/>
            <result property="grantdate" column="grantDate" jdbcType="TIMESTAMP"/>
            <result property="grantstate" column="grantState" jdbcType="INTEGER"/>
            <result property="awardid" column="awardId" jdbcType="VARCHAR"/>
            <result property="awardtype" column="awardType" jdbcType="INTEGER"/>
            <result property="awardname" column="awardName" jdbcType="VARCHAR"/>
            <result property="awardcontent" column="awardContent" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="strategyMode" column="strategy_mode" jdbcType="INTEGER"/>
            <result property="mqState" column="mq_state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uId,activityId,
        orderId,strategyId,strategyType,
        grantType,grantDate,grantState,
        awardId,awardType,awardName,mq_state
        awardContent,uuid,createTime,
        updateTime
    </sql>
    <insert id="insertSelective" parameterType="com.kevin.lottery.infrastructure.po.UserStrategyExport">
        insert into user_strategy_export(uId,activityId,orderId,strategyId,strategyType,
                                         grantType,grantDate,grantState,awardId,awardType,
                                         awardName,awardContent,strategy_mode,uuid,createTime,updateTime)
        values (#{uid},#{activityid},#{orderid},#{strategyid},#{strategytype},#{granttype},#{grantdate},
                #{grantstate},#{awardid},#{awardtype},#{awardname},#{awardcontent},#{strategyMode},#{uuid},NOW(),NOW())
    </insert>
    <update id="updateInvoiceMqState" parameterType="com.kevin.lottery.infrastructure.po.UserStrategyExport">
        update user_strategy_export set mq_state = #{mqState},updatetime = NOW()
        where orderId = #{orderid} and uid = #{uid}
    </update>
    <update id="updateAwardState" parameterType="com.kevin.lottery.infrastructure.po.UserStrategyExport">
        update user_strategy_export set grantState = #{grantstate},updatetime = NOW(), grantdate = NOW()
        where uid = #{uid} and orderid = #{orderid} and awardid = #{awardid}
    </update>
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        FROM user_strategy_export
        WHERE uId = #{uId}
    </select>
    <select id="getMqState" resultType="java.lang.Integer" parameterType="com.kevin.lottery.infrastructure.po.UserStrategyExport">
        select mq_state from user_strategy_export
        where uid = #{uid} and orderid = #{orderid} and awardid = #{awardid}
    </select>
    <select id="scanInvoiceMqState" resultMap="BaseResultMap" parameterType="java.util.Date">
        SELECT uid, orderid, awardid, awardType, awardName, awardContent
        from user_strategy_export
        where mq_state = 2 OR ( mq_state = 0 AND createTime &lt;=  #{date} )
    </select>
</mapper>
